// UI Colors
$primary-color: #000000;
$secondary-color: #ffffff;
$bg-color: #f9f9f9;
$accent-color: #ff0d0e;

// Text Colors
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$mute-text-color: #c0c0c0;

// Text sizes
$large-heading-size: 34px;
$subheading-size: 30px;
$body-text-size: 18px;
$small-text-size: 14px;

// Layout sizing
$container-size-max: 1160px;
$card-margin: 20px;
