@import './variables';

.bottomBar {
  padding: 40px 0;
  background-color: $primary-color;
  p {
    color: $mute-text-color;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}
