@import './variables';

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 65px 50px;
  background-size: cover;
  img.logo {
    padding-bottom: 30px;
  }
  h2 {
    font-size: $large-heading-size;
    text-align: center;
    color: $secondary-color;
  }
}
