@import './breakpoints';
@import './variables';

.searchBoxWrapper {
  width: 80%;
  min-width: 320px;
  margin: 10px auto;
  position: relative;
  display: flex;
  @include media-breakpoint-up(md) {
    width: 765px;
  }
  form {
    flex: 1;
    display: flex;
    input {
      width: 100%;
      font-size: 18px;
      color: $secondary-text-color;
      background-color: $primary-color;
      outline: none;
      padding: 12px 38px;
      border: 2px solid $secondary-color;
      border-radius: 40px;
    }
  }
  .searchIcon {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
}
